# Cyclomatic Complexity Analysis with Radon

In [4]:
# Install Radon and Pandas if not already installed
# !pip install radon
# !pip install pandas

In [5]:
# Imports
import os
from radon.complexity import cc_visit, cc_rank
import pandas as pd

In [6]:
# Define the path to the folder containing the algorithms
path = 'Algorithms'

In [7]:
# Function to analyze the complexity of a Python file
def analyze_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as file:
        code = file.read()
    return cc_visit(code)

In [8]:
import pandas as pd

# Loop through each Python file
for filename in os.listdir(path):
    if filename.endswith('.py'):
        print(f"\n {filename}")
        results = analyze_file(os.path.join(path, filename))

        # Prepare data for DataFrame
        data = []
        for r in results:
            data.append({
                "Name": r.name,
                "Line": r.lineno,
                "Complexity": r.complexity,
                "Rank": cc_rank(r.complexity),
                "Type": r.__class__.__name__
            })

        # Create and display table
        df = pd.DataFrame(data)
        if not df.empty:
            display(df.sort_values(by="Complexity", ascending=False).reset_index(drop=True))
        else:
            print("No functions or methods detected.")

 gibbs.py

                     Name  Line  Complexity Rank      Type
0          gibbs_sampling   117           5    A  Function
1                     pwm    54           4    A  Function
2             motif_gibbs   168           3    A  Function
3             print_motif   156           3    A  Function
4           GibbsSampling    10           3    A     Class
5          prob_positions    86           3    A  Function
6          roulette_wheel   100           3    A  Function
7   random_init_positions    35           2    A  Function
8                prob_seq    71           2    A  Function
9           create_motifs    43           2    A  Function
10               __init__    21           1    A  Function

 auto_finito.py

                      Name  Line  Complexity Rank      Type
0                visualize    63           6    B  Function
1         _calculate_state    24           5    A  Function
2         AutomatosFinitos     1           4    A     Class
3          pattern_overlap    79           3    A  Function
4                 __init__     3           3    A  Function
5  _build_transition_table    15           3    A  Function
6         find_occurrences    51           3    A  Function
7            process_input    38           2    A  Function
8           get_next_state    73           2    A  Function

 tries.py

                  Name  Line  Complexity Rank      Type
0    prefix_trie_match    50           4    A  Function
1          _add_suffix   109           4    A  Function
2          add_pattern    27           3    A  Function
3                 Trie     1           3    A     Class
4    _get_leaves_below   133           3    A  Function
5         find_pattern   149           3    A  Function
6           SuffixTree    87           3    A     Class
7         trie_matches    72           3    A  Function
8           print_tree   164           3    A  Function
9                build   123           2    A  Function
10  trie_from_patterns    41           2    A  Function
11          print_trie     9           2    A  Function
12            __init__     2           1    A  Function
13            add_node    16           1    A  Function
14           _add_node    97           1    A  Function
15            __init__    88           1    A  Function

 BB.py

               Name  Line  Complexity Rank      Type
0  branch_and_bound    17           6    B  Function
1          score_bb    13           4    A  Function
2          motif_bb    42           4    A  Function
3           Counter     1           2    A     Class
4          __init__     2           1    A  Function
5         increment     5           1    A  Function
6           __int__     8           1    A  Function

 BWT.py

                  Name  Line  Complexity Rank      Type
0          bwt_reverse   145           5    A  Function
1  find_ith_occurrence     3           4    A  Function
2                  BWT    26           4    A     Class
3          bw_matching    94           4    A  Function
4             __init__    34           3    A  Function
5            build_bwt    46           3    A  Function
6   build_suffix_array    60           3    A  Function
7      bw_matching_pos   125           3    A  Function
8        last_to_first    74           2    A  Function

 exaustivo.py

        Name  Line  Complexity Rank      Type
0      motif    37           7    B  Function
1      score    33           4    A  Function
2    proximo    13           3    A  Function
3   enumerar    25           2    A  Function
4    Counter     1           2    A     Class
5   __init__     2           1    A  Function
6  increment     5           1    A  Function
7    __int__     8           1    A  Function